.rightSide {
  position: absolute;
  left: 70%;
  top: 50%;
  transform: translateY(-50%);
}

.hero {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}

.animatedMatch {
  animation-name: match;
  animation-duration: 6s;
  animation-fill-mode: forwards;
}

@keyframes match {
  0% {
    left: 5%;
  }
  100% {
    left: 80%;
  }
}

.animatedNoMatch {
  color: blue;
}

.truck {
  width: 300px;
}

.truckImg {
  width: 100%;
}
